{% spaceless %}
<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8" />
<title>
{% block title %}
{% if current_region or current_category %}
AllCoupons.co.nz
{% else %}
All Coupons - All New Zealand's Daily Deals
{% endif %}
{% if current_region %} | {{ current_region.name }}{% endif %}
{% if current_category %} | {{ current_category.name }}{% endif %}
{% endblock %}
</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="{% block meta %}{% if current_region %}{{ current_region.name }}{% if current_category %} | {{ current_category.name }}{% endif %}. {% endif %}{% endblock %}Here at AllCoupons we collect all New Zealand's daily deals, so you can see them all in a single place. There is no need to track down heaps of sites and receive megabytes of junk emails. One site - all coupons.">
<meta name="keywords" content="allcoupons, all coupons, coupon, daily deal, one day sale, deal, sale, bargain, new zealand, auckland, wellington, christchurch, daysale, dailydo, 6 shooter, 1 day, mighty ape, 3 deals, crazy sales, snatch a deal, deal a day, first in, trade me, treat me, groupon, grouponnz, grabone, yazoom, spreets, sweet deals, ezy deal, cudo, groupy">
<meta name="author" content="Allcoupons.co.nz">
<link rel="shortcut icon" href="/media/images/favicon.ico">

<link href="/media/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/media/css/main.css" rel="stylesheet" type="text/css" />
{% block extra_css %}
{% endblock %}
<!--[if lte IE 8]>
<link href="/media/css/ie-lte8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lte IE 7]>
<link href="/media/css/ie-lte7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25932701-1']);
  _gaq.push(['_setDomainName', 'allcoupons.co.nz']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>

<div id="head">

	<div class="container">
		<a id="logo" href="/"></a>
		<ul id="mmenu">
			<li><a href="/">Home</a></li>
			<li>
				{% block region_selector %}
					<div class="btn-group">
						<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
							{{ current_region.name }}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							{% for region in regions %}
								<li><a href=/deals/{{ region.url }}/>{{ region.name }}</a></li>
							{% endfor %}
						</ul>
					</div>
				{% endblock %}
			</li>
		</ul>
	</div>
	
</div>


<!--
<div class="container alert alert-success fade in" id="slogan">
	<button class="close" id="slogan-close" data-dismiss="alert">&times;</button>
	Here at AllCoupons we collect all New Zealand's daily deals, so you can see them all in a single place.<br />
	There is no need to track down heaps of sites and receive megabytes of junk emails.
	<strong>One site - all coupons.</strong>
</div>


<div class="alert alert-success">
	<button class="close" data-dismiss="alert">&times;</button>
	<h2>News Header without link</h2>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</div>

<div class="alert alert-success">
	<button class="close" data-dismiss="alert">&times;</button>
	<h2><a href="#">News Header with link</a></h2>
	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus<strong><a href="#">...</a></strong></p>
</div>
-->

{% block teaser %}
	<!-- <a class="container teaser" href="/mosaic/"></a> -->
{% endblock %}

<div class="container">
	<div class="row">
		{% block content %}
		{% endblock %}
	</div>
</div>

{% block footer %}
<div id="footer" class="container">
	<div id="legal-info">
		<p class="copy">&copy; 2012 AllCoupons</p>
		<p><a href="#">Terms and Conditions</a> <a href="#">Private Policy</a></p>	
	</div>
<a class="back-to-top stick" href="#top" id="totop"><i class="icon-chevron-up"></i>Back to top</a>			
</div>
{% endblock %}

		
<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
	
<script src="/media/js/libs/jquery-1.7.2.min.js"></script>
<script src="/media/js/libs/bootstrap.min.js"></script>
<script src="http://www.google.com/jsapi"></script>
<script src="/media/js/plugins/jquery.smooth-scroll.min.js"></script>
<script src="/media/js/plugins/bootstrap-alert.js"></script>
<script src="/media/js/scripts.js"></script>
{% block extra_js %}
{% endblock %}

</body>
</html>
{% endspaceless %}
