{% extends "base.html" %}

{% block title %}AllCoupons.co.nz | {{ coupon.title|safe }}{% endblock %}
{% block meta %}{{ coupon.title|safe }}.{% endblock %}

{% block content %}
{% load humanize %}
{% load external_link_tags %}

<div class="span12">
	<div class="content">
	
		<div class="sort-bar">
			<ul id="tabs" class="bc">
				<li><a href="/"><strong>Home</strong></a></li>					
				<li><a href="/deals/{{ coupon.getRegion.url }}/"><span>{{ coupon.getRegion.name }}</span></a></li>
				{% for category in coupon.getCategories %}
					<li><a href="/deals/{{ coupon.getRegion.url }}/{{ category.url }}/"><span>{{ category.name }}</span></a></li>
				{% endfor %}
			</ul>			
		</div>
		
		<div class="inner-deal">
		
			<div>
				<div>
					<div class="img-container">
						<img src="{{ coupon.image.url }}" width="{{ coupon.image.width }}" height="{{ coupon.image.height }}" alt="{{ coupon.title|safe }}">
					</div>
					<div class="deal-info">
						<div class="economy">{{ coupon.discount|floatformat:"-2" }}% off</div>
						<h2>{{ coupon.title|safe }}</h2>
						<div class="deal-meta-info">
							<div class="left">
								<p class="sold"><i class="icon-ok-sign"></i>&nbsp; Already Bought: {{ coupon.number_bought }}</p>
								<p><i class="icon-eye-open"></i>&nbsp; Seen on {{ coupon.source }}</p>
							</div>
							<div class="right">
								<p><i class="icon-time"></i>&nbsp; Deal closes in {{ coupon.ends|naturaltime|slice:"-8" }}</p>
								<p><i class="icon-refresh"></i>&nbsp; Updated {{ coupon.last_parsed|naturaltime }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div style="height:50px;">
			<div id="sticky-anchor"></div>			
				<div class="deal-panel">
					<span class="s1">Deal Price: {% if coupon.is_price_from %}From {% endif %}${{ coupon.price|floatformat:"-2" }}</span>
					<span class="s2">Regular Price: {% if coupon.is_price_from %}From {% endif %}${{ coupon.price|add:coupon.savings }}</span>
					<span class="s3">You save: ${{ coupon.savings|floatformat:"-2" }}</span>
					<span class="s4"><a href="{% external coupon.url %}" target="_blank">Get this deal!</a></span>
				</div>
			</div>
			
			<div class="row-fluid">
				{% externalblock %}
				<div class="span8">
					<h2>Deal description</h2>
					{{ coupon.description|safe }}
				</div>
				<div class="span4">
					<div class="conditions">
						<h2>Highlights</h2>
						{{ coupon.highlights|safe }}
						<h2>Conditions</h2>
						{{ coupon.conditions|safe }}
					</div>
				</div>
				{% endexternalblock %}
			</div>
			
		</div>
		
	</div>
</div>

{% endblock %}
