{% extends "base.html" %}

{% load humanize %}
{% load coupon_extras %}

{% block content %}
<div class="span3" id="sidebar">
<div id="sticky-anchor"></div>
	<div class="section">
		<div class="header{% if current_category == None %} selected{% endif %}"><a href="/deals/{{ current_region.url }}/">
			All {{ current_region.name|truncatechars:13 }} Deals
			<span>{{ coupons|count }}</span>
		</a></div>
		<ul>
			{% for category in categories %}
				<li{% if category == current_category %} class="selected"{% endif %}>
					<a href="/deals/{{ current_region.url }}/{{ category.url }}/">{{ category.name }} <span>{{ coupons|count:category }}</span></a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div style="visibility:hidden">&nbsp;</div>
</div>

<div class="span9">
	<div class="content">
	
		<div class="sort-bar">
			<ul id="tabs">
				<li><strong>Sort By:</strong></li>
				<li{% if sort == '-number_bought' %} class="selected"{% endif %}>
					<a href="/deals/{{ current_region.url }}{% if current_category != None %}/{{ current_category.url }}{% endif %}?sort=-number_bought">Highest Number Bought</a>
				</li>
				<li{% if sort == 'price' %} class="selected"{% endif %}>
					<a href="/deals/{{ current_region.url }}{% if current_category != None %}/{{ current_category.url }}{% endif %}?sort=price">Lowest Price</a>
				</li>
				<li{% if sort == '-discount' %} class="selected"{% endif %}>
					<a href="/deals/{{ current_region.url }}{% if current_category != None %}/{{ current_category.url }}{% endif %}?sort=-discount">Highest Discount</a>
				</li>
				<li{% if sort == '-savings' %} class="selected"{% endif %}>
					<a href="/deals/{{ current_region.url }}{% if current_category != None %}/{{ current_category.url }}{% endif %}?sort=-savings">Highest Savings</a>
				</li>
			</ul>
		</div>
		
		<ul class="deal-list">
			{% for coupon in coupons %}
				{% if current_category in coupon.getCategories or current_category == None %}
					
					<li>
						<div class="point">
							<div class="left">
								<a href="/deal/{{ coupon.id }}/"><img src="{{ coupon.thumbnail.url }}" width="{{ coupon.thumbnail.width }}" height="{{ coupon.thumbnail.height }}" alt="{{ coupon.title|safe }}"></a>
								<div class="price-bar">{% if coupon.is_price_from %}From {% endif %}${{ coupon.price|floatformat:"-2" }}</div>
							</div>
							<div class="right">
								<h3><a href="/deal/{{ coupon.id }}/">{{ coupon.title|safe }}</a></h3>
								<div class="deal-meta-info">
									<div class="left">
										<p class="sold"><i class="icon-ok-sign"></i>&nbsp; Already Bought: {{ coupon.number_bought }}</p>
										<p><i class="icon-eye-open"></i>&nbsp; Seen on {{ coupon.source }}</p>
									</div>
									<div class="right">
										<p><i class="icon-time"></i>&nbsp; Deal closes in {{ coupon.ends|naturaltime|slice:"-8" }}</p>
										<p><i class="icon-refresh"></i>&nbsp; Updated {{ coupon.last_parsed|naturaltime }}</p>
									</div>
								</div>
								<div class="panel">
									<span class="dealdiscount">Discount: {{ coupon.discount|floatformat:"-2" }}%</span>
									<span class="saveprice">You Save: ${{ coupon.savings|floatformat:"-2" }}</span>
									<span class="submitdeal"><a href="/deal/{{ coupon.id }}/">More</a></span>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
					
				{% endif %}
			{% empty %}
				<li>Sorry, no deals found in your region.</li>
			{% endfor %}
		</ul>
		
	</div>
</div>
{% endblock %}