body { background-image: url(../images/bg-body.png); background-color: #E7E6E7; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background-position: center top; }

h1{ color: #333; letter-spacing: -30%; font-size: 24px; font-style: normal; font-variant: normal; padding-bottom: 10px; 
}
h2{ letter-spacing: -30%; font-size: 24px; font-style: normal; line-height: 32px; font-weight: normal; font-variant: normal; margin-bottom: 10px; 
}
h2 a {
	letter-spacing: -1px;
	text-decoration:none;
	padding-bottom: 2px;
	color: #006699;
	font-size: 16px;
}
.deal-info h2 { font-weight: bold; }

h2 a:hover {color: #2D2D2D;  border-bottom: none; }
h3, h3 a{ letter-spacing: normal; color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none; line-height: 130%; margin-bottom: 10px; 
}
h3 a:hover {
	border-bottom: none;
}
h4{}
h5{}
.color-add-1 { background-color: #78aa17; text-shadow:#060 0px 1px; color:#FFF; border-color:#333; }
.color-add-2 { background-color: #999; text-shadow:#444 0px 1px; color:#FFF; border-color:#333; }
.gray { color: #666; }
.dark { background-image: url(../images/grad-dark.png); background-repeat:repeat-x; background-position: left top; -webkit-background-size: 100% 40%; background-size: 100% 40%; }
.light { background-image: url(../images/grad-light.png); background-repeat:repeat-x; background-position: left top; -webkit-background-size: 100% 40%; background-size: 100% 40%; }
.gotodown { font-size: 11px; font-weight: bold; text-align: center; padding-top: 20px; }
.bulk { border-top-width: 1px; border-top-style: solid; border-top-color: #666; margin-top: 10px; padding-top: 5px; }
.smallpad { padding-right: 5px; padding-left: 5px; font-size: 12px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-weight: bold; padding-top: 2px; padding-bottom: 2px; }
.caption { display: block; font-size: 11px; font-weight: bold; }
.urlarea { padding-top: 20px; overflow: hidden; }
.urlarea .urlbutton { margin-top: 5px; width: 150px; }
.urlbox { padding-right: 5px; padding-left: 5px; font-size: 18px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-weight: normal; padding-top: 2px; padding-bottom: 2px; height: 35px; width: 450px; line-height: 35px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #666; border-right-color: #999; border-bottom-color: #999; border-left-color: #999; float: left; margin-right: 25px; background-image: url(../images/bg-urlbox.png); background-repeat: repeat-x; background-position: center bottom; }
.table { font-size: 12px; line-height: 20px; margin-top: 10px; }
.table th { border: none; }
.table td { padding-top: 8px; padding-bottom: 8px; }
.table a { }
.table a.filename { font-size: 14px; font-weight: bold; }
.table sup { font-size: 11px; color: #333; }
.table .delete-link { color: #666; background-image: url(../images/icon-userbar.png); background-repeat: no-repeat; background-position: 0px -79px; padding-left: 18px; }
.table .share-link { color: #77bb00; background-image: url(../images/icon-userbar.png); background-repeat: no-repeat; background-position: 0px -64px; padding-left: 18px; }
.table tr td input { }
#head { height: 140px; overflow: visible; }
#head #logo { background-image: url(../images/logo-web.png); display: block; background-repeat: no-repeat; height: 60px; width: 214px; float: left; margin-top: 45px; padding-left: 20px; }
#head #login-area { float: right; line-height: 60px; width: 500px; text-align: right; position: relative; z-index: 1; overflow: visible; }
#login-area > .btn { margin-top: 15px; padding-right: 25px; padding-left: 25px; }
#login-popup { position: absolute; height: 200px; width: 210px; background-color: #FFF; padding-top: 0px; top: 10px; border-radius:9px; -moz-border-radius:9px; -webkit-border-radius:9px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); -moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); z-index: 100; margin-left: 750px; }
#login-popup .login-form { min-height: 20px; padding: 19px; }
#login-popup .login-form .btn { width: 80px; margin-left: 50px; }
#login-popup .login-form .login-add { font-size: 11px; text-align: center; margin-bottom: 5px; }
#close-login-area { background-image: url(../images/icon-close.png); display: block; height: 15px; width: 15px; float: right; position: relative; top: 5px; right: 5px; }
#user-panel { color: #FFF; }
#user-panel a { color: #FFF; text-decoration: underline; margin-left: 15px; line-height: 16px; }
#user-panel a:hover { text-decoration: none; color: #FFF; }
#user-panel .i-user { background-image: url(../images/icon-userbar.png); padding-left: 20px; background-repeat: no-repeat; background-position: 0px 0px; margin-left: 3px; }
#user-panel .i-uploads { background-image: url(../images/icon-userbar.png); padding-left: 20px; background-repeat: no-repeat; background-position: 0px -16px; }
#user-panel .i-settings { background-image: url(../images/icon-userbar.png); padding-left: 20px; background-repeat: no-repeat; background-position: 0px -32px; }
#user-panel .i-logout { background-image: url(../images/icon-userbar.png); padding-left: 20px; background-repeat: no-repeat; background-position: 0px -48px; text-decoration: none; padding-right: 0em; }
.container.teaser { background-color: #FFF; height: 180px; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; background-image: url(../images/bnr.jpg); background-repeat: no-repeat; background-position: 0 -40px; display: block; }

#mmenu { margin-top: 40px; height: 60px; }
#mmenu > li{ display: block; float: left; line-height: 60px; list-style-type: none; padding-right: 12px; padding-left: 12px; }
#mmenu > li > a, #mmenu > li > span{ text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); color:#153453; }
#mmenu .share { float: right; overflow: visible; margin: 0px; width: 140px; padding-top: 24px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }



#slogan { text-align: center; font-size: 14px; color: #1b3046; text-shadow: 0px 1px 0 rgba(255, 255, 255, 1); padding-right: 130px; padding-left: 130px; width: 680px; }
#slogan > strong { text-align: center; font-style: normal; font-weight: normal; font-size: 25px; color: #7b0046; text-shadow: 0 1px 0 rgba(255, 255, 255, 1); font-family: Arial, Helvetica, sans-serif; line-height: normal; display: block; }
#slogan-close { right: -109px}
#sidebar .section { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; background-color: #fff; overflow: hidden; margin-bottom: 20px; width: 220px; }
#sidebar .section .header { background-repeat: repeat-x; background-position: left top; overflow: hidden; position: relative; }
#sidebar .section .header a{ line-height: 40px; background-image: url(../images/bg-sidebar-corner.png); color: #FFF; text-shadow: 0 -1px 0 rgba(102, 126, 150, 1); text-decoration: none; background-repeat: repeat-x; background-position: left -54px; display: block; padding-bottom: 5px; padding-left: 15px;  border-radius:8px 8px 0px 0px;
	-moz-border-radius:8px 8px 0px 0px;
	-webkit-border-radius:8px 8px 0px 0px;}
#sidebar .section .header a:hover { text-decoration: underline; }

#sidebar .section .header.selected a    { background-image: url(../images/bg-sidebar-corner.png); background-repeat: repeat-x; background-position: left 0px; }
#sidebar .section .header a span{ float: right; margin-right: 7px; width: 30px; text-align: center; text-decoration: none; color: #FFF; font-style: normal; }

#sidebar .section ul { padding: 0px; list-style: none; display: block; margin: -7px 0px 5px; font-size: 12px; }
#sidebar .section ul li { display: block; overflow: hidden; }
#sidebar .section ul li a { display: block; line-height: 36px; padding-left: 15px; }
#sidebar .section ul li a span { float: right; margin-right: 7px; width: 30px; text-align: center; text-decoration: none; font-weight: normal; color: #7b0046; font-style: normal; }
#sidebar .section ul li .add-to-favs { display: none; float: left; width: 16px; margin-right: 7px; margin-left: 7px; line-height: 5px; margin-top: 9px; height: 16px; background-color: #999; }
#sidebar .section ul .selected { background-image: url(../images/bg_green.png); background-repeat: repeat-x; background-position: left top; }
#sidebar .section ul .selected a { text-shadow: 0 -1px 0 rgba(109, 136, 21, 1); text-transform:none; color: #FFF; text-decoration: none; }
#sidebar .section ul .selected a span { color: #FFF; }

.content { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; overflow: hidden; background-image: url(../images/bg-content.png); }

.content .sort-bar { overflow: hidden; }
ul#tabs { overflow: hidden; display: block; background-image: url(../images/bg_blue.png); background-repeat: repeat-x; background-position: left top; list-style-type: none; margin: 0px; padding: 0; }
ul#tabs li  { display: block; color: #FFF; list-style-type: none; float: left; padding-right: 10px; padding-left: 10px; line-height: 40px; text-shadow: 0 -1px 0 rgba(102, 126, 150, 1); }
ul#tabs li a  { color: #FFF; }
ul#tabs li.selected  { background-image: url(../images/bg_green.png); background-repeat: repeat-x; background-position: left top; }
ul#tabs li.selected a  { text-shadow: 0 -1px 0 rgba(109, 136, 21, 1); text-transform:none; text-decoration: none; }
ul#tabsl li a:hover {}
#tabs.bc { }
#tabs.bc li { background-image: url(../images/bc-arrow.png); background-position: left 7px; background-repeat: no-repeat; padding-left: 20px; padding-right: 13px; }
#tabs.bc li:first-child { background-image: none; padding-left: 10px; }

.content .deal-list { margin: 0px; padding: 0px; }
.content .deal-list > li { list-style-type: none; padding-top: 20px; padding-right: 16px; padding-bottom: 20px; padding-left: 20px; border-top-width: 1px; border-top-style: dotted; border-top-color: #CCC; margin: 0px; }
.content .deal-list > li:hover { background-color:#FFF; }
.content .deal-list > li:first-child{ border:none}
.content .point { overflow: hidden; }
.content .point .left { width: 184px; float: left; margin-right: 20px; }
.content .point .left img { width: 180px; margin-left: 4px; }
.content .point .left .price-bar { background-image: url(../images/price-bar.png); background-repeat: no-repeat; height: 36px; width: 188px; padding-top: 4px; line-height: 36px; font-size: 20px; text-align: center; margin-top: -4px; text-shadow: 0 -1px 0 rgba(20, 67, 106, 1); color: #FFF; }


.content .point .right { float: left; width: 460px; }

.content .point .deal-header{ padding-bottom: 10px; }
.content .point .deal-header a{ font-size: 16px; font-weight: normal; line-height: 20px; text-decoration: none; }
.content .point .deal-header a:hover{ text-decoration: none; }
.content .point .right .deal-meta-info { width: auto; padding: 5px 0; }
.content .point .right .deal-meta-info .left { width: auto; float: left; margin-right: 20px; }
.content .point .right .deal-meta-info .right { width: auto; float: none; }
.content .point .right p { font-size: 12px; color: #666; margin-bottom: 5px; line-height: 16px; }
.content .point .right .sold { font-weight: bold; color: #666; }
.content .point .right .panel { background: #e9eaec; overflow: hidden; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; line-height: 33px; padding-left: 17px; margin-top: 15px; }
.content .deal-list > li:hover .panel{ background-color: #e0e6ea; }
.content .point .right .panel > span { display: block; float: left; font-size: 14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 1); }
.content .point .right .panel .dealdiscount { width: 180px; color: #333; }
.content .point .right .panel .saveprice { width: 163px; color: #54830a; }
.content .point .right .panel .submitdeal { width: 99px; text-align: right; }
.content .point .right .panel .submitdeal a { padding-left: 40px; display: block; float: right; color: #FFF; text-decoration: none; padding-right: 35px; text-shadow: 0 -1px 0 rgba(100, 0, 50, 1); background-image: url(../images/bg_submit-link.png); background-repeat: no-repeat; background-position: 0px center; }
.content .point .right .panel .submitdeal a:hover { padding-left: 40px; display: block; float: right; color: #FFF; text-decoration: none; padding-right: 35px; text-shadow: 0 -1px 0 rgba(72, 106, 19, 1); background-image: url(../images/bg_submit-link.png); background-repeat: no-repeat; background-position: -200px center; }
.content .inner-deal { padding: 20px; background-color: #FFF; }
.inner-deal > div { margin-bottom: 20px; overflow: hidden; }
.img-container { background-color: #E5E5E5; float: left; padding: 10px; width: 300px; }
.economy    { background-image: url(../images/bg_green.png); background-repeat: repeat-x; font-size: 16px; text-align: center; text-shadow: 0 -1px 0 rgba(20, 67, 106, 1); color: #FFF; background-position: left top; float: left; padding: 7px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; position: relative; margin-right: 10px; font-weight: bold; }
.conditions { background-color: #EFF0F1; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; padding: 10px; }


.inner-deal .deal-info { float: left; width: 540px; margin-left: 20px; }
.inner-deal .deal-info .deal-meta-info { width: auto; padding: 5px 0; }
.inner-deal .deal-info .deal-meta-info .left { width: auto; float: left; margin-right: 20px; }
.inner-deal .deal-info .deal-meta-info .right { width: auto; float: none; }

.deal-panel { overflow: hidden; margin-right: auto; margin-left: -20px; background-color: #618DBB; position: absolute; width: 940px; background-image: url(../images/bg_blue.png); background-repeat: repeat-x; line-height: 50px; height: 50px; }
.deal-panel > span { display: block; float: left; font-size: 18px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); width: 250px; color: #FFF; text-align: center; }
.deal-panel .s1 { }
.deal-panel .s2 { }
.deal-panel .s3 { }
.deal-panel .s4 { text-align: right; width: 190px; }
.deal-panel .s4 a    { padding-left: 40px; display: block; float: right; color: #FFF; text-decoration: none; padding-right: 40px; text-shadow: 0 -1px 0 rgba(100, 0, 50, 1); background-image: url(../images/bg_submit-link.png); background-repeat: no-repeat; background-position: 0px center; }
.deal-panel .s4 a:hover  { display: block; float: right; color: #FFF; text-decoration: none; text-shadow: 0 -1px 0 rgba(72, 106, 19, 1); background-image: url(../images/bg_submit-link.png); background-repeat: no-repeat; background-position: -200px center; }

#sticky-anchor { font-size: 1px; line-height: 1px; height: 1px; margin: -1px 0px 0px; padding: 0px; }

.deal-panel.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  }
		
	.section.stick { position: fixed; top: 0px; z-index: 10000; margin-top: 15px;
  }
			
.back-to-top.stick { position: fixed; z-index: 10000; float: right; width: 220px; text-align: center; font-weight: bold; padding-top: 4px; display: block; hidden; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; bottom: 0px; font-size: 14px; margin-left: 360px; height: 30px; line-height: 30px; background-image: url(../images/bg-btt.png); background-position: center top; }




#footer { font-size: 12px; margin-top: 10px; }
#footer .info { text-align: center; margin-top: 20px; }
#footer .info > div { margin-bottom: 5px; }
#bmenu { text-align: center; overflow: hidden; margin-top: 20px; }
#bmenu li { display: inline; line-height: 22px; list-style-type: none; margin-left: 25px; }
#bmenu li:first-child { margin-left: 20px; }
#bmenu li a img { margin-top: -1px; }
#bmenu li a { font-size: 12px; text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.7); }
#legal-info { font-size: 11px; }
#legal-info p { font-size: 11px; }
#legal-info p a { margin-right: 8px; }
#legal-info p.copy { float: right; width: 45%; text-align: right; }
.debug { background-color: #FCC; }
