/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	outline:0;
	font-size:100%;
	vertical-align:top;
	background:transparent;
}
html{font-size:100.01%;}
body{line-height:1;background-color:#fff;color:#000;text-align:left;font-size:75%;font-family:Arial,Helvetica,Sans-serif;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;font-size:100%;width:100%;border:none;}
font{color:inherit!important;font:inherit!important;}
a{color:#000;text-decoration:underline;}
input[type="text"],input[type="password"]{font-size:100%;padding:0;}

/* main typography */
strong,th,theadtd{font-weight:bold;}
cite,em,dfn{font-style:italic;}
code,kbd,samp,pre,tt,var{font-size:92%;font-family:Courier,Monaco,"Lucida Console";}
var{font-size:92%;font-family:Monaco,"Lucida Console",Mono-space;}
textarea,select,option{font-family:Tahoma,Courier,Monaco,"Lucida Console",Mono-space;font-size:100%;}
input[type="text"],input[type="password"]{font-family:Tahoma,Сourier,Monaco,"Lucida Console",Mono-space;font-size:100%;}
del{text-decoration:line-through;color:#666;}
ins,dfn{border-bottom:1px solid #ccc;}
small,sup,sub{font-size:85%;}
big{font-size:115%;}
abbr,acronym{text-transform:uppercase;font-size:85%;letter-spacing:1px;}
a abbr[title],a acronym[title]{color:#000;text-decoration:none;}
a:hover abbr[title],a:hover acronym[title]{text-decoration:none;}
a:hover abbr,a:hover acronym{cursor:pointer;}
abbr[title],acronym[title],dfn[title]{cursor:help;border-bottom:1px solid #ccc;}
sup{vertical-align:super;}
sub{vertical-align:sub;}
address a{text-decoration:none!important;border-bottom:1px dotted #ccc;}

/* links */
a{text-decoration:underline;}
a:hover{text-decoration:none;cursor:pointer;}

/*forms*/
fieldset{border:1px solid #ccc;}
legend{background:#fff;}
textarea,input[type="text"],input[type="password"],select{border:1px solid #999;background:#fff;}
textarea:hover,input[type="text"]:hover,input[type="password"]:hover,select:hover{border-color:#aaa;}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,select:focus{border-color:#888;outline:1px solid #ffa;}
input,select{cursor:pointer;}
input[type="text"],input[type="password"]{cursor:text;}
input{vertical-align:middle;}
input.error,textarea.error,textarea.error,legend.error,select.error{border:1px solid #c33!important;}
